.container-sliders {
    height: 500px;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
}

.slick-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 30;
    top: 50%;
}

.slick-prev-arrow {
    left: 20px;
}

.slick-next-arrow {
    right: 20px;
}

#container-sliders-parallax {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.main-slider-item {
    position: relative;
}

.slider-title {
    position: absolute;
    left: 15%;
    color: white;
    top: 25%;
    font-size: 105px;
    line-height: 110px;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

.slider-title > h1 {
    font-size: 105px;
    line-height: 110px;
    letter-spacing: 2px;
    font-weight: bold;
}

.slider-title > p {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: 400;
}

.slider-title > img {
    max-width: 18%;
}

.title-top {
    top: 10%;
}
.slick-next-arrow:before {
    content: "\232A";

}
.slick-prev-arrow:before {
    content: "\2329";
}

.slick-prev-arrow:before, .slick-next-arrow:before {

    font-size: 7rem;
}

.slick-prev-arrow:before:hover, .slick-next-arrow:before:hover {
    color: #6fbd22;
    font-size: 7rem;
}

.slick-arrow {
    width: 27px;
    height: 145px;
    color: white;
    transition: 0.3s;
    top: 318px;
}
.slick-arrow:hover {
    color: #6fbd22;
}